
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: 'Source Sans Pro', sans-serif;
  }

header{
    background-color: #262626;
}

li{
    list-style:none;
}

a{
    color: rgb(76, 23, 201);
    text-decoration:none;
}

.navbar{
    min-height: 50px;
    justify-content:center;
    align-items:center;
    padding: 0 24px;
    background-color:hwb(100 77% 19%);
    transition: background-color 0.5s linear;
    z-index: 999;
    position:fixed;
    display: flex;
    width:auto;
    margin: 5px auto;
    right: 10px;;
    left: 10px;;
    gap: 60px;
    top: 0.2%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 1.5rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: rgb(228, 37, 47);
    transform: translateX(-8px);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: flex;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(25, 21, 214);
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

.slide{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.slider-content{
    width:100%;
    height:700px;
}

.slider-content h2{
    text-align:center;
    color:rgb(45, 17, 206);
    margin: -100px;
    font-size:xx-large;
}

.slider-wraper {
    position: relative;
}
.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(33, 46, 223);
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    border: none;
}
.arrow-left {
    left: 50px;
}
.arrow-right {
    right: 50px;
}
.dotsWraper {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: rgb(219, 18, 18);
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}
.active {
    background-color: rgba(24, 35, 190, 0.158);
}

.nav-SLAID {
    display:flex;
    text-align:center;
    color:rgb(45, 17, 206);
    font-size:xx-large;
    justify-content:center;
    align-items: center;
    padding:24px;
    background-color:transparent;
    gap: 60px;
    top: 50px;
}
.splide__slide {
    width: 100px;
    height: 100px;
    font-size:small;
    text-align:center;
}

.navigation {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s linear;
    z-index: 999;
}
.scroll {
    background-color: red;
    color: #262626;
}


.დამზადება {
    position:relative;
    color: rgb(31, 33, 177);
    align-items: center;
    text-align:center;
    justify-content:center ; 
}

.fa-circle-arrow-up {
    position: fixed;
    right:  30px;
    bottom: 40px;
    background-color:rgb(12, 156, 19);
    transition: background-color 0.5s linear;
    z-index: 999;
    width: 45px;
    height: 30px;;
}
.filter-wraper {
    display:flex;
    text-align:center;
    color:rgb(17, 45, 206);
    font-size:xx-large;
    justify-content:center;
    align-items: center;
    padding:24px;
    background-color:transparent;
    gap: 60px;
    top: 50px;
}
.search-block{
    display:flex;
    text-align:center;
    color:rgb(45, 17, 206);
    font-size:xx-large;
    justify-content:center;
    align-items: center;
    padding:24px;
    background-color:transparent;
    gap: 60px;
}
.user-list li.hide {
    display: none;
}


  
.serviceWraper p {
    font-size: 1.5rem;
}

  
.contentHeader {
    padding: 30px 30px;
}
  
.contentHeader input {
    background-color: #fbfbfb;
    border: 0;
    border-radius: 50px;
    color: #000;
    font-size: 14px;
    padding: 10px 10px 8px;
    width: 20%;
}
  
.contentHeader input:focus,
.signupInputWrapper input {
    outline: none;
    border: 1px solid #caa892;
}
  
.contentTitle {
    margin-bottom: 20px;
    display:flex;
    text-align: center;
    justify-content:center;
    font-size: xx-large;
}
  
.searchResults li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    border-top: 1px solid #163adb;
    margin-top: 10px;
    cursor: pointer;
}
  
.searchResults img {
    border-radius: 10px;
}
  
.searchResults .doctors-info,
.searchResults {
    margin-left: 20px;
}
  .searchResults h4 {
    font-size: 24px;
    margin-left: 100px;
  }
.searchResults h4:hover,
.teamdoctors:hover {
    color: #caa892;
    display:flex;
    text-align: center;
    top: 100px;;
}
.searchResults li.hide {
    display: none;
}
.teamdoctors {
    color: #1215c0;
    display:flex;
    text-align: center;
    justify-content:center;
    font-size: xx-large;
}
  
/* This is post coment */   /* This is post coment */  /* This is post coment */  /* This is post coment */  /* This is post coment */
  .post-block {
    justify-content:center;
    background-color: rgb(30, 27, 192);
    max-width: 400px;
    width: 100%;
    margin-bottom: 100px;
    height: 80px;
    font-size: 10px;
}
.posts {
   
    justify-content:center;
    background-color: rgb(24, 196, 67);
    max-width: 500px;
    width: 100%;
    margin-bottom: 600px;
    height: 100px;
    font-size: 10px;
    margin: 20px;;
}
.overlay {
    position: fixed;
    top: 100px;
    left: 40px;
    width:60%;
    height: 50%;
    background-color: rgb(201, 137, 20);
    color: #fff;
    opacity: 80%;
    display: none;
    padding: 80px;
}
.activeOverlay {
    display: block;
}
.close {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 35px;
    color:rgb(38, 21, 194);
    cursor: pointer;
}
.add-post {
    width: 40px;
    height: 40px;
    background-color: blue;
    color:#fff;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.overlay-add {
    position: fixed;
    top: 100px;
    left: 50px;
    width:60%;
    height: 50%;
    background-color: blueviolet;
    color: #fff;
    opacity: 80%;
    display: none;
    padding: 80px;
}
.addPost {
    display: block;
}

  /* This is and post coment */   /* This is and post coment */   /* This is and post coment */   /* This is and post coment */


/* This is footer coment */   /* This is footer coment */   /* This is footer coment  */   /* This is footer coment  */

footer{
     background-color:rgb(28, 104, 104);
     position: relative;
     width: 100%;
     min-height: 350px;
     padding: 3rem 1rem;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom:25px;
}
.col h3{
    color:#ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a i{
    color:#ff014fff;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right:15px;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
}
.row .form input{
    background-color: #1a1c20ff;
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form button{
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff014fff;
}



/* This is users coment */


#list-users {
    display:flex;
    justify-content:center;
    max-width:max-content;
    text-align:center;
    margin:auto;
    position:relative;
    background-color: rgb(210, 212, 223);
}
#userinfo {
    display:block;
    justify-content:center;
    margin: 10px;
    font-size:medium;
    color: #1215c0;
    align-items:center;
}
.textservise {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: xx-large;
    background-color: #b4bdaf1e;
}
.imagegio {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: xx-large;
}

#loadprevius {
  justify-content: center;
  font-size:medium;
  background-color: #2CC4ED;
  height: 30px;
  width: 300px;;
}
#loadnext {
  justify-content: center;
  font-size:medium;
  background-color: #2CC4ED;
  height: 30px;
  width: 300px;
}

/* This is users and coment */  /* This is usersand coment */  /* This is users and coment */  /* This is users and coment */


/* This is servise formvalidation css */ /* This is servise formvalidation css */ /* This is servise formvalidation css */ 
.regform {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(22, 24, 22);
    background-color: rgba(45, 187, 10, 0.13);
    background-image:url(https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?cs=srgb&dl=pexels-pixabay-40568.jpg&fm=jpg);
}
#registration{
    align-items:center;
    margin: 100;
    display:block;
    justify-content:center;
    border-color: rgb(206, 32, 32);
    background-color: rgb(219, 226, 231);
    color: rgb(43, 46, 43);
    font-display:initial;
    width: 800px;
    height: 300px;
    margin: 10px auto;
}

.error{
    display:flex;
}


/* This is and formvalidation css */ /* This is and formvalidation css */ /* This is and formvalidation css */ 


/* This is contact form css */  /* This is contact form css */  /* This is contact form css */ /* This is contact form css */ 
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Source+Sans+Pro&display=swap');

:root {
  --primary-color: #3598b6;
  --secondary-color: #2CC4ED;
}


ul {
  list-style: none;
}

#heading {
  background: var(--primary-color);
  height: 20rem;
}

.heading-wrap {
  color: #fff;
  padding: 3rem 0;
  text-align: center;
  max-width: 20rem;
  margin: 0 auto;
}

.heading-wrap h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: 'Coda Caption', sans-serif;

}

.heading-wrap p {
  position: relative;
  font-size: 1rem;
}

.heading-wrap p::before {
  content: '';
  position: absolute;
  top: -.7rem;
  left: 50%;
  transform: translate(-50%);
  width: 2.7rem;
  height: 7px;
  background: var(--secondary-color);
}

.form-box {
  margin: -7rem 2rem 5rem 2rem;
  box-shadow: 0 0 5px 0 rgba(49, 61, 73, 0.7);
  border-radius: 5px;
}

/* Form Info */
.form-info {
  background: var(--secondary-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.form-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-info ul li {
  margin-top: .5rem;
  display: flex;
  align-items: center;
}

.form-info ul li i {
  background: #fff;
  color: var(--secondary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: .5rem;
}

/* Form input */
.form-input {
  padding: 0 2rem;
  background: #fff;
}

.form-input h3 {
  margin: 1.5rem 0 2rem 0;
  font-size: 1.3rem;
  color: #333;
}

.form-input form {
  display: grid;
  grid-gap: 1rem;;
  grid-template-columns: repeat(2, 1fr);
}

.form-input label {
  font-weight: bold;
  color: #222222;
  line-height: 1.6;
  opacity: 0.8;
}

.form-input input {
  height: 2.5rem;
  text-indent: 1em;
  border: .5px solid #149cc567;
}

.form-input form input, .form-input form textarea {
  width: 100%;
}

.form-input form textarea {
  height: 6rem;
  padding: 1em;
  border: .5px solid #149cc567;
}

.form-input form .full {
  grid-column: 1 / 3;
}

.form-input form button {
  width: 100%;
  margin: 1rem 0 2rem 0;
  height: 2.5rem;
  background: var(--secondary-color);
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease
  ;
}

.form-input form button:hover {
  background: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

/* LARGE SCREEN */
@media (min-width: 700px) {
  #heading {
    height: 25rem;
  }

  .heading-wrap h1 {
    font-size: 2.5rem;
  }

  .form-box {
    margin-top: -10rem;
  }

  .form-box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  .form-input {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .form-info {
    grid-column: 3 / 4;
  }

  .form-info ul {
    margin-top: 4rem;
  }

  .form-info ul li {
    margin-top: 2rem;
  }

}

/* This is and contact form css */  /* This is and contact form css */  /* This is and contact form css */  /* This is and contact form css */ 


/********** Responsive Design footer********/
@media(max-width:900px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media(max-width:768px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  #list-users {
    background-color: rgb(43, 174, 226);
    text-align: left;
    margin-left: 30px;
    margin-top: auto;
    display:list-item;
 }
}
/* This is and footer coment */   /* This is and footer coment */   /* This is and footer coment  */   /* This is and footer coment  */
